# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
LikhiLakeerain
LikhiLakeerain.app

# Wails build
.task/
build/*
!build/appicon.png
!build/Taskfile.yml
!build/config.yml
!build/windows/
build/windows/*
!build/windows/Taskfile.yml
!build/windows/icon.ico
!build/windows/info.json
!build/windows/wails.exe.manifest
!build/darwin/
build/darwin/*
!build/darwin/Taskfile.yml
!build/darwin/Info.plist
!build/darwin/Info.dev.plist
!build/darwin/icons.icns
!build/linux/
build/linux/*
!build/linux/Taskfile.yml
/bin/
/dist/

# Go
vendor/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
